{% extends "homebase.html" %}
{% block title %} {{ setting.company }}'a Hoşgeldiniz {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

<div class="stuff-box">
		<div class="container">
			<div class="row">
				{% for rs in products %}
					<div class="col-sm-12 col-md-4 col-lg-4">


					<div class="gallery-single fix">
						<a class="lightbox" href="product/{{rs.slug}}/{{rs.id}}">
							<img class="img-fluid" src="{{ rs.image.url }}" alt="Gallery Images" style="height:270px;">
							<br>
							<h2>{{rs.title}}</h2>
							<h1>${{rs.price}}</h1>

						</a>

						<div class="why-text">
							<h4>{{ rs.title }}</h4>

							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="product/{{rs.slug}}/{{rs.id}}">Rezervasyon</a></p>

							<h5> ${{ rs.price }}</h5>

							<br>
							<br>
						</div>
					</div>



					</div>
                  {% endfor %}
			</div>
        </div>
</div>

{% endblock %}