
{% extends "homebase.html" %}
{% block title %} Rezervasyonlar {% endblock %}
{% block keywords %} {{setting.keywords}} {% endblock %}
{% block description %} {{setting.description}} {% endblock %}

{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}

<div class="contact-box">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
                     <form action=" " method="post">
						<div class="form-group">

                                {% csrf_token %}
							<div class="section-title">
                                <br><br>
								<h4 class="title">Rezervasyon Bilgileri</h4>
							</div>
                            <p><label for="id_first_name">Adınız :</label>
                                <input type="text" name="first_name" value="{{user.first_name}}" class="form-control" maxlength="20" ></p>
                            <p><label for="id_last_name">Soyadınız : </label>
                                <input type="text" name="last_name" value="{{user.last_name}}" class="form-control" maxlength="20" ></p>
                            <p><label for="id_address">Adres : </label>
                                <input type="text" name="address" value="{{profile.address}}" class="form-control" maxlength="150"></p>
                            <p><label for="id_phone">Telefon : </label>
                                <input type="text" name="first_name" value="{{profile.phone}}" class="form-control" maxlength="20"></p>
                            <p><label for="id_city">Şehir :</label>
                                <select name="city" class="form-control" id="id_city">
                                    <option value="{{profile.city}}" selected>{{profile.city }} </option>
                                    <option value="İstanbul">İstanbul</option>
                                    <option value="Ankara">Ankara</option>
                                    <option value="Bursa">Bursa</option>
                                    <option value="İzmir">İzmir</option>
                                    <option value="Aydın">Aydın</option>
                                    <option value="Mardin">Mardin</option>
                                </select></p>
                            <p><label for="id_first_name">Ülke : </label>
                                <input type="text" name="country" value="{{profile.country}}" class="form-control" maxlength="20"></p>
                            <p><label for="id_first_name">Seçim</label>
                                <select name="vale" class="form-control" id="id_vale">
                                    <option value="{{profile.vale}}" selected>{{profile.vale }} </option>
                                    <option value="İstanbul">Valeli Araç</option>
                                    <option value="Ankara">Kiralık Araç</option>
                                </select></p>
                            <p><label for="id_phone">Rezervasyon Tarihi : </label>
                                <input type="text" name="" value="{{profile.tarih}}" class="form-control" maxlength="20" placeholder="dd/mm/yy"></p>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-common">Rezervasyonu Tamamla</button>
                            </div>

						</div>
                     </form>
				</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action=" " method="post">
                    <div class="shiping-methods">
                        <div clas="section-title">
                            <br><br>
                            <h4 class="title">Ödeme Bilgileri</h4>
                        </div>
                        <p><label for="id_first_name">Toplam  : </label>
                            <input type="text" name="total" class="form-control" readonly value=" ${{ total }}"></p>

                        <p><label for="id_first_name">Kredi Kart Holder: </label>
                            <input type="text" name="holder"class="form-control" value=""></p>
                        <p><label for="id_first_name">Kredi Kart Numarası: </label>
                            <input type="text" name="number" class="form-control" value=""></p>
                        <p><label for="id_first_name">Kartın Son Kullanım Tarihi: </label>
                            <input type="text" name="ecpdate" class="form-control" placeholder="mm/yy"></p>
                        <p><label for="id_first_name">Güvenlik Kodu: </label>
                            <input type="text" name="secnumber" class="form-control" value=""></p>

                    </div>
                    </form>
                </div>

			</div>
        </div>
</div>

{% endblock %}